
.swiper-pagination-bullet-active {
  background: #401902 !important;  /* your brown color */
  opacity: 0.5;
}
.swiper-button-next,
.swiper-button-prev {
  color: #401902 !important;
  background: rgba(255, 245, 240, 0.2) !important;
  font-weight: 700;
  border-radius: 50%;
  padding: 20px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 8px 0 rgba( 31, 38, 135, 0.05 );
backdrop-filter: blur( 15px );
-webkit-backdrop-filter: blur( 15px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
transform: translateY(-50%)
  
}
.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 18px !important;
 
}
/* 640px and above (sm breakpoint) */
@media (min-width: 640px) {
 
  .navbar-element {
    font-size: 18px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after{
    font-size: 22px !important;
   
  }
}

/* 768px and above (md breakpoint) */
@media (min-width: 768px) {
  
  .navbar-element {
    font-size: 20px;
  }
  .swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 25px !important;
 
}
.swiper-button-next,
.swiper-button-prev {
  padding: 25px;
}
}

/* 1024px and above (lg breakpoint) */
@media (min-width: 1024px) {
  .navbar-element {
    font-size: 22px;
  }
  .swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 30px !important;
 
}
.swiper-button-next,
.swiper-button-prev {
  padding: 30px;
}
}

/* 1280px and above (xl breakpoint) */
@media (min-width: 1280px) {
  .navbar-element {
    font-size: 25px;
  }
}

/* 1536px and above (2xl breakpoint) */
@media (min-width: 1536px) {
  .navbar-element {
    font-size: 30px;
  }
}
